<!-- RUBY FUNCTIONS --> 

	<!-- formats the dates -->
	<% def reverse_array (date)
		date_array = date.to_s.split("-")
		year = date_array.first
		date_array.insert(3, year).shift
		return date_array.join("-")
		end%>
	<!-- END -->

<!--////////////////// html starts here /////////////////////-->
<div class="members show">
	<h1><%= @member.name %>'s Bio-Page</h1>

		<div id="bioplate">
			<img src="<%= @member.img_url %>">
				<div class="text">
					<span>Name:</span> <%= @member.name %><br>
					<span>From:</span> <%= @member.location %><br>
					<span>Breed:</span> <%= @member.breed %><br>
					<span>Birthday:</span> <%=  reverse_array(@member.birthday) %><br>
					<span>Favorite Activity:</span> <%= @member.activities %><br>
					<span>Favorite Toy:</span> <%= @member.toys %><br>
					<span>Owner:</span> <%= @member.owner %><br>
					<span>Member Since:</span> <%=  reverse_array(@member.member_since) %><br>
				</div>
			
			<form>
				<button type="submit" formmethod="get" formaction="/members/<%= @member.id %>/edit">EDIT MEMBER</button>
			</form>

			<form action="/members/<%=@member.id%>" method="POST"> 
				<input type="hidden" name="_method" value="DELETE">
				<button id="delete">DELETE MEMBER</button>
			</form>
		</div>


		





</div>

<!-- members table column headers -->
	<!-- id | owner  |  name  |  img_url  |  birthday  |  location  |  breed  |  activities  |  toys  |  created_at -->
<!-- members table joined with photos