<h1>EDIT REINTRODUCE THE TITLE COLUMN</h1>

<h4>Please edit the appropriate fields below</h4>
<div class="main_content">
	<form action="/photos/<%= @photo.id %>" method="POST">
	<input type="hidden" name="_method" value="PUT">
			<label for="url">Image:</label>
				<input type="text" name="photo[img_url]" value="<%= @photo.img_url %>"><br>
			<label for="location">Location of Photo:</label>
				<input type="text" name="photo[location]" value="<%= @photo.location %>"><br>
			<label for="timestamp">Photo Updated On:</label>
				<input type="text" name="photo[created_at]" value="<%= @photo.created_at %>"><br>
			<label for="caption">Caption:</label>
				<input type="textarea" name="photo[caption]" value="<%= @photo.caption %>"><br>
				
     <!-- MENU OF USERS -->
				<label>Choose an Author<br>
						<select name="photo[user_id]">
							<% @user.each do |user| %>
								<option value="<%= user.id %>"><%= user.owner %></option>
							<% end %>
						</select>
					</label>

binding.pry
				<input type="submit" name="submit">
		</form>
</div>

<!-- id |  img_url |   location    |  created_at   |     caption | user_id  -->