<div class="members">
	<h1>All Photo Posts</h1>
	<h2>
		<a href="/photos/new" id="new">New Post</a>
	</h2>
		<div id="group">
			<% @photos.each do |photo| %>
				<div class="single">
					<a href="/photos/<%= photo.id %>">
						<img src="<%= photo.img_url %>" class="single_post">
						<p><%= photo.title %><br>
							Posted By: <%= photo.member.owner %><br>
							<%= photo.created_at %>
							</p>
						</a>
				</div>
			<% end %>
		</div>
</div>




<!-- photos table column headers -->
	<!-- id | title  |  img_url  |  location |  created_at  |  caption  | member_id -->
<!-- photos table joined with tags -->