<div class=" single photo">
	<h4><%= @photo.id %>TEMPRARILY HERE</h4>
	<img src="<%= @photo.img_url %>">
	<p>
		"<%= @photo.caption %>"<br>
		Posted by: <%= @photo.user.owner %><br>
		Taken in: <%= @photo.location %><br>
		On: <%= @photo.created_at %>
	</p>
</div>

<form>
	<button type="submit" formmethod="get" formaction="/photos/<%= @photo.id %>/edit">
	EDIT POST</button>
</form>
		

<!-- <form action="/photos/<%=@photo.id%>" method="POST"> 
			<input type="hidden" name="_method" value="DELETE">
			<button id="delete">DELETE</button>
	</div> -->

<!-- id |  img_url |   location    |  created_at   |     caption | user_id  -->